<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Resultados</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Informe de Resultados</h1>
    <ul>
        <li>Número de muestras totales: {{ resultados.num_muestras }}</li>
        <li>Media de valoración (>= 5): {{ resultados.media_valoracion }}</li>
        <li>Desviación estándar de valoración (>= 5): {{ resultados.desviacion_valoracion }}</li>
        <li>Media de incidentes por cliente: {{ resultados.media_incidentes_cliente }}</li>
        <li>Desviación estándar de incidentes por cliente: {{ resultados.desviacion_incidentes_cliente }}</li>
        <li>Media de horas totales por incidente: {{ resultados.media_horas_incidente }}</li>
        <li>Desviación estándar de horas totales por incidente: {{ resultados.desviacion_horas_incidente }}</li>
        <li>Valor mínimo de horas realizadas por empleados: {{ resultados.min_horas_empleados }}</li>
        <li>Valor máximo de horas realizadas por empleados: {{ resultados.max_horas_empleados }}</li>
        <li>Valor mínimo de tiempo entre apertura y cierre de incidente: {{ resultados.min_tiempo_incidente }} días</li>
        <li>Valor máximo de tiempo entre apertura y cierre de incidente: {{ resultados.max_tiempo_incidente }} días</li>
        <li>Valor mínimo de incidentes atendidos por empleado: {{ resultados.min_incidentes_empleado }}</li>
        <li>Valor máximo de incidentes atendidos por empleado: {{ resultados.max_incidentes_empleado }}</li>
    </ul>
    <h2>Resultados de Fraude</h2>
    <ul>
        <li>Número de incidentes de fraude: {{ resultados_fraude.num_incidentes_fraude }}</li>
        <li>Número de actuaciones realizadas por los empleados en casos de fraude: {{ resultados_fraude.num_actuaciones_fraude }}</li>
        <li>Mediana de satisfacción en casos de fraude: {{ resultados_fraude.mediana_fraude }}</li>
        <li>Media de satisfacción en casos de fraude: {{ resultados_fraude.media_fraude }}</li>
        <li>Varianza de satisfacción en casos de fraude: {{ resultados_fraude.varianza_fraude }}</li>
        <li>Valor máximo de satisfacción en casos de fraude: {{ resultados_fraude.max_fraude }}</li>
        <li>Valor mínimo de satisfacción en casos de fraude: {{ resultados_fraude.min_fraude }}</li>
    </ul>
</body>
</html>